#users {
    margin: auto;
}
#users * {
    border: 1px black solid;
    text-align: center;
    font-size: 20px;
}
.name {
    width: 400px;
    height: 100px;
}
.aux {
    width: 200px;
    color: white;
    background-color: green;
}
.aux.remove {
    background-color: red;
}